{% extends "overview/base.html" %}

{% block content %}


{#  <!-- Page Content -->#}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mt-5">Christopher Turnbull</h2>
        <p class="lead">I code with my bare hands</p>
        <ul class="list-unstyled">
            <li><a href="mailto:chris@chris-turnbull.com" style="margin-bottom:10px;">email</a></li>
            <li><a href="http://www.github.com/christopher-turnbull" style="margin-bottom:10px;">github</a></li>
            <li><a href="https://www.linkedin.com/in/christopher-grant-turnbull//" style="margin-bottom:10px;">linkedin</a></li>
            <li><a href="{% url 'swahili:mambo_dunia' %}">swahili</a></li>
        </ul>
      </div>
    </div>
  </div>



{% endblock %}






