{#{% load static %}#}
{##}
{#<link rel="stylesheet" type="text/css" href="{% static 'swahili/style.css' %}">#}
{##}
{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="utf-8"/>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>#}
{#    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">#}
{#    <title>ASLOML</title>#}
{#</head>#}
{#<body style="margin:0;">#}
{#<div style="display:flex;max-width:800px;flex-direction:column;justify-content:center;align-items:center;margin: 0 auto;height: 100vh;">#}
{#    <span style="margin-bottom:20px;">Mambo Mambo</span>#}
{#    <span style="margin-bottom:20px;">You've reached where I'm trying to teach myself Swahili</span>#}
{#    {% if latest_question_list %}#}
{#    <ul>#}
{#    {% for question in latest_question_list %}#}
{#        <li><a href="/swahili/{{ question.id }}/">{{ question.question_text }}</a></li>#}
{#        remove the partially hardcoded url like below:#}
{#        <li><a href="{% url 'swahili:detail' question.id %}">{{ question.question_text }}</a></li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#{% else %}#}
{#    <p>No questions are available.</p>#}
{#{% endif %}#}
{#</div>#}
{##}
{##}
{#</body>#}
{#</html>tree#}


{% extends "overview/base.html" %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mt-5">Mambo Mambo</h2>
        <p class="lead">You've reached where I'm trying to teach myself Swahili</p>
        <ul class="list-unstyled">
{#          <li>Bootstrap 4.5.3</li>#}
{#          <li>jQuery 3.5.1</li>#}
            {% if latest_question_list %}
            <dul>
            {% for question in latest_question_list %}
{#                <li> {% question.id %}  <a href="{% url 'swahili:detail' question.id %}">{{ question.question_text }}</a></li>#}
                <li> <a href="{% url 'swahili:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            </dul>
            {% else %}
                <p>No questions are available.</p>
            {% endif %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}